<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <ul class="nav justify-content-center mt-3" >
            <li class="nav-item">
            </li>
            <li class="nav-item " >
                <a class="nav-link" href="/dashboard">Home</a>
            </li>
            <li class="nav-item " >
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>


        {% if messages %}
        <ul class="list-unstyled text-danger">
            {% for msg in messages %}
            <li>{{msg}}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <div class="card mx-auto border-info mt-3 " style="max-width: 30rem;">
            <h5 class="card-header text-info text-center">
                Edit an Item
            </h5>
            <form action="/sav/{{item.id}}/update" method="post">
                {%csrf_token%}

                <div class="card-body text-info">
                    <div class=" form-group col-md-12">
                        <label>Editing Item:</label>
                        <input type="text" name="name" class="form-control" placeholder="" value="{{item.name}}">
                    </div>
                    <div class=" form-group col-md-4">
                        <label>Editing Price:</label>
                        <input type="number" step="0.01" name="price" class="form-control " placeholder="0.00" value={{item.price}}>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-outline-info">Update</button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>